:root {
    --background-low: #666666;
    --background-med: #222222;
    --background-high: #000000;

    --text-high: #FFFFFF;
    --text-low: #AAAAAA;

    --color-high: #DD0000;
    --color-med: #BB2222;
    --color-low: #994444;
}

.hidden {
    display: none !important;
}

.vis_hidden {
    visibility: hidden;
}

col.collapse {
    visibility: collapse;
}

body {
    background-color: var(--background-high);
    color: var(--text-high);
    margin: 0;
}

canvas {
    background-color: var(--background-high);
}

.column {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.center {
    justify-content: center;
    height: 100%;
}

.center_text {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
}

table {
    text-align: left;
    border-collapse: collapse;
}

thead, tfoot {
    background: var(--color-med);
}

tbody tr:nth-child(even)
{
    background: color-mix(in srgb, var(--color-med), transparent 50%);
}

tbody tr:nth-child(odd)
{
    background: color-mix(in srgb, var(--color-med), transparent 75%);
}

th, td {
    border: 1px solid var(--text-low);
}

th {
    padding-left: 0.4em;
    padding-right: 0.4em;
    text-align: center;
}

tr.row_first {
    border-top: 3px solid var(--text-high);
}

col.col_left {
    border-left: 3px solid var(--text-low);
}

a {
    text-decoration: none;
}

.align_right {
    text-align: right;
}

select {
    background-color: var(--background-high);
    color: var(--text-high);
    border-color: var(--text-high);
}

button {
    background-color: var(--color-med);
    font-size: 1em;
    color: var(--text-high);
    border: 1px solid var(--text-high);
}

button:hover {
    background-color: var(--text-high);
    color: var(--background-high);
}


#searchResults {
    max-height: 10em;
    overflow: hidden;
    overflow-y: scroll;
    position: fixed;
    background-color: var(--background-low);
    padding-right: 1em;
    padding-left: 0.5em;
    list-style-type: none;
    z-index: 100;
}

#searchResults li a {
    color: var(--background-high);
}

#banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    height: 3em;
}

#search {
    padding-right: 5em;
    padding-left: 1em;
    display: flex;
    align-items: center;
}

#search:not(:focus-within) nav {
    display: none;
}

#searchBar {
    font-size: 1.5em;
}

#colorbar {
    background-color: var(--color-med);
    width: 100%;
    height: 3em;
    margin-bottom: 1em;
}

#navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5em;
    color: var(--color-med);
    height: 100%;
    font-size: 1.5em;
}

#banner div {
    height: 100%;
}

#navbar a.selected {
    background-color: var(--color-med);
    color: var(--text-high);
}

#navbar a:hover {
    background-color: var(--background-low);
}

#player {
    width: 20em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: flex-start;
}

#model {
    align-items: stretch;
    justify-content: space-between;
}

#graph_selector {
    width: 10em;
    align-self: center;
    font-size: 1.5em;
}

#piediv {
    width: 24%;
}

#wardiv {
    width: 74%;
}

#right_column {
    width: 1%;
    flex-grow: 1;
}

#player_name {
    font-size: 2em;
    text-align: center;
}

#player_team {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--text-high);
}

#player_row2 {
    justify-content: space-between;
    font-size: 1.25em;
}

#player_row2 div {
    margin-left: 2em;
    margin-right: 2em;
}

.player_stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7.5vh;
}

.table_button {
    background-color: transparent;
    border: 0;
}

.col_selector {
    width: 2em;
}

.table_button {
    width: 100%;
}
