:root {
    --background-low: #666666;
    --background-med: #222222;
    --background-high: #000000;

    --text-high: #FFFFFF;
    --text-low: #AAAAAA;

    --color-high: #DD0000;
    --color-med: #BB2222;
    --color-low: #994444;

    --pred-color-high : #0000DD;
    --pred-color-med : #2222BB;
    --pred-color-low : #444499;
}

.hidden {
    display: none !important;
}

.hidden-col {
    width: 0 !important;
    min-width: 0 !important;
    max-width: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    overflow: hidden;
}

.vis_hidden {
    visibility: hidden;
}

col.collapse {
    visibility: collapse;
}

body {
    background-color: var(--background-high);
    color: var(--text-high);
    margin: 0;
}

canvas {
    background-color: var(--background-high);
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    height: 100%;
}

.center_text {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
}

table {
    text-align: left;
    border-collapse: collapse;
}

thead, tfoot {
    background: var(--color-med);
}

tbody tr:nth-child(even)
{
    background: color-mix(in srgb, var(--color-med), transparent 50%);
}

tbody tr:nth-child(odd)
{
    background: color-mix(in srgb, var(--color-med), transparent 75%);
}

tbody tr.pred:nth-child(even)
{
    background: color-mix(in srgb, var(--pred-color-med), transparent 50%);
}

tbody tr.pred:nth-child(odd)
{
    background: color-mix(in srgb, var(--pred-color-med), transparent 75%);
}

th {
    padding-left: 0.4em;
    padding-right: 0.4em;
    text-align: center;
}

tr.row_first {
    border-top: 3px solid var(--text-high);
}

col.col_left {
    border-left: 3px solid var(--text-low);
}

a {
    text-decoration: none;
}

.align_right {
    text-align: right;
}

select {
    background-color: var(--background-high);
    color: var(--text-high);
    border-color: var(--text-high);
}

button {
    background-color: var(--color-med);
    font-size: 1em;
    color: var(--text-high);
    border: 1px solid var(--text-high);
}

button:hover {
    background-color: var(--text-high);
    color: var(--background-high);
}

h1 {
    text-align: center;

}

h2 {
    text-align: center;
}

figure {
    text-align: center;
}

figcaption {
    margin-top: 0.25em;
}

figcaption a {
    color: var(--text-high);
    font-weight: bold;
    text-decoration: underline;
}

p, details {
    text-align: justify;
    margin: 1em 5em;
    line-height: 1.5;
}

.section p, details {
    text-indent: 2em;
    font-size: 1.2em;
}

#error_msg {
    font-size: 1.4em;
}

#searchResultsContainer {
    
    position: fixed;
    top: 3em;
    background-color: var(--background-high);

    display: flex;
    flex-direction: row;
    z-index: 100;
}

.searchResults {
    max-height: 10em;
    width: 15em;
    overflow: hidden;
    overflow-y: scroll;
    list-style-type: none;
    scrollbar-color: var(--text-high) var(--background-low);
}

.searchResults {
    padding-left: .5em;
}

.searchResults li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0.5em;
    margin-bottom: 0.25em;
}

#searchResultsContainer li a {
    color: var(--text-high);
}

nav p {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    text-align: center;
    color: var(--text-high)
}

#banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    height: 3em;
}

#search {
    padding-right: 5em;
    padding-left: 1em;
    display: flex;
    align-items: center;
}

#search:not(:focus-within) nav {
    display: none;
}

#searchBar {
    font-size: 1.5em;
}

.teamsearch {
    border: 2px solid currentColor;
    font-weight: bold;
    width: 3em;
    text-align: center;
}

.teamsearch.team0 {
    border: 0;
}

#colorbar {
    background-color: var(--color-med);
    width: 100%;
    height: 3em;
    margin-bottom: 1em;
}

#navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5em;
    color: var(--color-med);
    height: 100%;
    font-size: 1.5em;
}

#banner div {
    height: 100%;
}

#navbar a.selected {
    background-color: var(--color-med);
    color: var(--text-high);
}

#navbar a:hover {
    background-color: var(--background-low);
}
.team108 {
    background-color: rgb(0,50,99);
    color: rgb(186, 0, 33);
}

.team109 { 
    background-color: rgb(167, 25, 48);
    color: rgb(227,212,173);
}

.team110 {
    background-color: rgb(223,70,1);
    color: rgb(39,37,31);
}

.team111 {
    background-color: rgb(189,48,57);
    color: rgb(12,35,64);
}

.team112 {
    background-color: rgb(14, 51, 134);
    color: rgb(204, 52, 51);
}

.team113 {
    background-color: rgb(198, 1, 31);
    color: rgb(255, 255, 255);
}

.team114 {
    background-color: rgb(0, 56, 93);
    color: rgb(229, 0, 34);
}

.team115 {
    background-color: rgb(51, 51, 102);
    color: rgb(196, 206, 212);
}

.team116 {
    background-color: rgb(12, 35, 64);
    color: rgb(250, 70, 22);
}

.team117 {
    background-color: rgb(0, 45, 98);
    color: rgb(235, 110, 31);
}

.team118 {
    background-color: rgb(0, 70, 135);
    color: rgb(189, 155, 96);
}

.team119 {
    background-color: rgb(0, 90, 156);
    color: rgb(255, 255, 255);
}

.team120 {
    background-color: rgb(20, 34, 90);
    color: rgb(171, 0, 3);
}

.team121 {
    background-color: rgb(0, 45, 114);
    color: rgb(252, 89, 16);
}

.team133 {
    background-color: rgb(0, 56, 49);
    color: rgb(239, 178, 30);
}

.team134 {
    background-color: rgb(39, 37, 31);
    color: rgb(253, 184, 39);
}

.team135 {
    background-color: rgb(47, 36, 29);
    color: rgb(255, 196, 37);
}

.team136 {
    background-color: rgb(12, 44, 86);
    color: rgb(196, 206, 212);
}

.team137 {
    background-color: rgb(39, 37, 31);
    color: rgb(253, 90, 30);
}

.team138 {
    background-color: rgb(12, 35, 64);
    color: rgb(196, 30, 58);
}

.team139 {
    background-color: rgb(9, 44, 92);
    color: rgb(143, 188, 230);
}

.team140 {
    background-color: rgb(0, 50, 120);
    color: rgb(192, 17, 31);
}

.team141 {
    background-color: rgb(19, 74, 142);
    color: rgb(232, 41, 28);
}

.team142 {
    background-color: rgb(0, 43, 92);
    color: rgb(211, 17, 69);
}

.team143 {
    background-color: rgb(0, 45, 114);
    color: rgb(232, 24, 40);
}

.team144 {
    background-color: rgb(19, 39, 79);
    color: rgb(206, 17, 65);
}

.team145 {
    background-color: rgb(39, 37, 31);
    color: rgb(196, 206, 212);
}

.team146 {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 163, 224);
}

.team147 {
    background-color: rgb(0, 48, 135);
    color: rgb(228, 0, 44);
}

.team158 {
    background-color: rgb(18, 40, 75);
    color: rgb(255, 197, 47);
}
td.link * {
    color: var(--text-high);
    font-weight: bold;
}

td.align_right * {
    text-align: right;
    padding-right: 0.1em;
}

td.align_left * {
    text-align: left;
    padding-left: 0.1em;
}

td.border_left {
    border-left: 0.05em solid var(--text-low);
    padding-left: 0.5em;
}

td.border_right {
    border-right: 0.2em solid var(--text-low);
    padding-right: 0.5em;
}

.stats_table th, td{
    padding: 0.2em 0.3em;
    border: 0.05em solid rgb(from var(--text-low) r g b / 0.5);
}

.stats_table > thead td {
    text-align: center;
}

#stats_table_holder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.page_selector {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#stat_selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
    padding-bottom: 1em;
}

#stat_selector button.selected {
    background-color: var(--color-high);
}

#stat_selector button {
    background-color: var(--background-low);
}
#rankings_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rankings_selector {
    gap: 2em;
    padding-bottom: 1em;
}

#rankings_selector * {
    font-size: 1.25em;
}
