@import url("main.css");

#searchResultsContainer {
    
    position: fixed;
    top: 3em;
    background-color: var(--background-high);

    display: flex;
    flex-direction: row;
    z-index: 100;
}

.searchResults {
    max-height: 10em;
    width: 15em;
    overflow: hidden;
    overflow-y: scroll;
    list-style-type: none;
    scrollbar-color: var(--text-high) var(--background-low);
}

.searchResults {
    padding-left: .5em;
}

.searchResults li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0.5em;
    margin-bottom: 0.25em;
}

#searchResultsContainer li a {
    color: var(--text-high);
}

nav p {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    text-align: center;
    color: var(--text-high)
}

#banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    height: 3em;
}

#search {
    padding-right: 5em;
    padding-left: 1em;
    display: flex;
    align-items: center;
}

/* #search:not(:focus-within) nav {
    display: none;
} */

#searchBar {
    font-size: 1.5em;
}

.teamsearch {
    border: 2px solid currentColor;
    font-weight: bold;
    width: 3em;
    text-align: center;
}

.teamsearch.team0 {
    border: 0;
}

#colorbar {
    background-color: var(--color-med);
    width: 100%;
    height: 3em;
    margin-bottom: 1em;
}

#navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5em;
    color: var(--color-med);
    height: 100%;
    font-size: 1.5em;
}

#banner div {
    height: 100%;
}

#navbar a.selected {
    background-color: var(--color-med);
    color: var(--text-high);
}

#navbar a:hover {
    background-color: var(--background-low);
}