@import url("main.css");

#rankings_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rankings_list {
    font-size: 1.5em;
    align-items: center;
}

#rankings_header {
    margin-top: 0.5em;
    font-size: 1.5em;
    text-align: center;
}

#rankings_selector {
    gap: 2em;
}

#rankings_selector * {
    font-size: 1.25em;
}

.rankings_item {
    display: flex;
    flex-direction: column;
    width: 30em;
    margin-top: 1em;
}

.rankings_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rankings_rightrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 12em;
}

.rankings_item a {
    color: var(--text-high);
    font-weight: bold;
}
